@{
    ViewBag.Title = "查看用户信息";
    ViewBag.setMenu = "1-3-2";
}
@Scripts.Render("~/js/jqueryValidate")
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=SAVewRYiePQrRZUhycmTcpzW"></script>
<script type="text/javascript">
    function _saveGroup() {
        $.getJSON("/wxUserInfo/MoveGroup", { gid: $("#wx_usergroup").val(), id: $("#ID").val(), v: Math.random() }, function (result) {
            alert(result);
        })
    }
    $(function () {
        // 百度地图API功能
        // 百度地图API功能
        var map = new BMap.Map("allmap");
        if (document.getElementById("longitude").value != "" && document.getElementById("latitude").value != "") {
            var point = new BMap.Point(document.getElementById("longitude").value, document.getElementById("latitude").value);
            var marker = new BMap.Marker(point);  // 创建标注
            map.addOverlay(marker);              // 将标注添加到地图中
            map.centerAndZoom(point, 15);
            var opts = {
                width: 200,     // 信息窗口宽度
                height: 50,     // 信息窗口高度
                title: '<h4><a href="javascript:void(0)" id="nickname">@Model.nickname</a> @Model.SexStr</h4>', // 信息窗口标题
                enableMessage: true,//设置允许信息窗发送短息
                message: '<small>关注事件: <a href=""><strong>@Model.subscribe_timeStr</strong></a></small>'
            }
            var infoWindow = new BMap.InfoWindow('<small>关注时间: <a href=""><strong>@Model.subscribe_timeStr</strong></a></small>', opts);  // 创建信息窗口对象
            marker.addEventListener("click", function () {
                map.openInfoWindow(infoWindow, point); //开启信息窗口
            });
        }
    })
</script>
<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: "微软雅黑";
    }

    #allmap {
        height: 500px;
        width: 100%;
    }

    #r-result {
        width: 100%;
        font-size: 14px;
    }
</style>
<div class="pageheader notab">
    <h1 class="pagetitle">查看用户信息</h1>
</div>
<div id="contentwrapper" class="contentwrapper">
    <ul class="entrylist">
        <li>
            <div class="slide_wrap">
                <div class="slide_img"><img src="@Model.headimgul" alt="" width="60" height="60"></div>
                <div class="slide_content">
                    <h4><a href="javascript:void(0)" id="nickname">@Model.nickname</a> @Model.SexStr</h4>
                    <small>关注时间: <a href=""><strong>@Model.subscribe_timeStr</strong></a></small>
                    <p>位置：@Model.location</p>
                </div>
            </div>
        </li>
        <li>
            <div class="stdform">
                <input type="hidden" name="ID" value="@Model.ID" id="ID" />
                <p>
                    <label>修改分组</label>
                    <span class="field">
                        <select name="wx_usergroup" class="uniformselect" id="wx_usergroup"></select>
                    </span>
                    <script type="text/javascript">
                        $.ajax({
                            url: "/wxUserInfo/GetAllGroup",
                            type: "GET",
                            data: { v: Math.random() },
                            async: false,
                            success: function (result) {
                                $("#wx_usergroup").append('<option value="0">未分组</option><option value="1">黑名单</option><option value="2">星标组</option>');
                                if (result.length > 0) {
                                    $.each(result, function (i, n) {
                                        $("#wx_usergroup").append('<option value="' + n.id + '">' + n.name + '</option>');
                                    })
                                    $("#wx_usergroup").val('@Model.groupid');
                                }
                            },
                            error: function () {
                                alert("错误");
                            }
                        })

                    </script>
                </p>
                <p class="stdformbutton">
                    <button class="stdbtn btn_orange" onclick="_saveGroup();">提交</button>
                    <button class="stdbtn" onclick="javascript: history.go(-1);">返回</button>
                </p>
            </div>
        </li>
        <li style="padding:0;">
            <div id="allmap"></div>
            <div id="r-result">
                经度: <input id="longitude" type="text" value="@Model.Longitude" />
                纬度: <input id="latitude" type="text" value="@Model.Latitude" />
                @*<input type="button" value="查询" onclick="theLocation()" />*@
            </div>

        </li>
    </ul>
</div>
