
@{
    ViewBag.Title = "微点基本参数设置";
}
@Scripts.Render("~/js/jqueryValidate")
<script type="text/javascript">
    function loadWeShop() {
        $.getJSON("/WeShop/GetAccessToken", { v: Math.random() }, function (data) {
            alert(data);
        })
    }
</script>

<div class="pageheader">
    <h2>
        <i class="fa fa-cogs"></i> 微店管理
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>当前位置</li>
            <li><a href="javascript:void(0);">微点基本参数设置</a></li>
        </ol>
    </div>
</div>


<div class="main">
    <section class="tile color transparent-black">
        <div class="tile-body">
            <form class="form-horizontal" method="post" action="/WeShop/Index" id="validate">
                <input type="hidden" value="@Model.ID" name="ID" />
                <input type="hidden" value="@Model.CreateTime" name="CreateTime" />
                <div class="form-group">
                    <label for="fullname" class="col-sm-3 control-label">appkey *</label>
                    <div class="col-sm-9">
                        <input name="appkey" value="@Model.appkey" type="text" class="form-control {required:true,messages:{required:'appkey不能为空'}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="fullname" class="col-sm-3 control-label">secret *</label>
                    <div class="col-sm-9">
                        <input name="secret" value="@Model.secret" type="text" class="form-control {required:true,messages:{required:'EncodingAESKey不能为空'}}" />
                    </div>
                </div>
                <div class="form-group form-footer">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="reset" class="btn btn-default">清空</button>
                        <button type="button" class="btn btn-submit" onclick="loadWeShop()">连接微店</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
